@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

/*---- Global Fonts ----*/
 :root { 
    --darkblue: #1e3a8a;
    --blue: #2563EB;
    --black: #0A0A0A;
    --grey: #D1D5DB;
    --white: #FFFFFF; 
    --font: 'Tektur', serif;
 }

 html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: var(--font);
    font-size: 16pt;
 }

/* --- Global Variablies ---*/


div.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
}

div.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    min-height: 100%;
}

div.col-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    background-color: var(--black); 
}

 /* --- Navbar --- */

 .mini-menu, .minimised {
    display: none;
}

header {
    background: var(--darkblue);
    background-size: cover;
}

div.row-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    background-color: var(--darkblue);
    color: var(--white);
}

 div.headbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 div.headbar img {
    width: 250px;
    height: 250px;
    padding: 0;
 }

 div.headbar h1 {
    display: flex;
    align-items: center;
    font-size: 60pt;
    font-weight: normal;
    color: var(--white);
    margin: 0;
    padding: 1rem;
 }

 div.mainmenu {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin: auto;
 }

 nav.navbar ul {
    margin: 0;
    padding: 0.5rem 1rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 20pt ;
 }

 nav.navbar li {
    margin: 0;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

nav.navbar ul a {
    color: var(--white);
    text-decoration: none;
}

nav.navbar a {
    text-decoration: none;
}

nav.navbar ul a:hover {
    color: #2563EB;
}

/* --- Header Image --- */

div.caption {
    background: var(--black) url("../imgs/NewImages/Caption-Images/Home_06.jpg") no-repeat top right fixed;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.caption p {
    font-size: 75pt;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
    margin: 1rem;
}

/* --- See More Button --- */

div.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 100pt;
    color: var(--white);
    font-family: var(--font);
    padding: 40px;
}

div.btn button {
    justify-content: center;
    padding: 0.2rem 1rem;
    color: var(--white);
    background-color: var(--blue);
    font: var(--font);
    border: 0;
    border-radius: 3rem 3rem;
}

div.btn button:hover {
    color: #1e3a8a;
}

div.btn img {
    justify-content: center;
    margin: 1rem 1rem 0 0;
}

/* --- Page Divider --- */

div.divider, div.divider img {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    width: 100%;
    max-width: 1820px;
}

/* --- Overview --- */

div.overview {
    background-color: var(--black); 
    color: var(--white);
    padding: 0;
    margin: 0;
}

div.overview h2 {
    text-align: center;
    font-weight: normal;
    font-size: 100pt;
    margin-top: 0;
    margin-bottom: 20px;
}

div.overview figure { 
    padding: 0;
    margin: 0;
    display:flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;
}

div.overview p {
    font-size: 28.5pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    padding: 1rem;
}

div.overview img {
    height: 740px;
    width: 840px;
    padding: 140px;
}

/* --- About Us --- */

div.aboutus {
    background-color: var(--black); 
    color: var(--white);
    padding: 0;
    margin: 0;
}

div.aboutus h2 {
    font-weight: normal;
    font-size: 100pt;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

div.map {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.map iframe {
    height: 740px;
    width: 840px;
    padding: 140px;
    border: none;
}

div.map p {
    font-size: 29pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    padding: 0 1rem;
}

/* --- Footer --- */

footer {
    background: var(--darkblue);
    color: var(--white);
    padding: 1rem 2rem 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

div.bottommenu {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
 }

nav.btmnavbar ul {
    margin: 0;
    padding: 0.5rem 1rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 30pt;
    justify-content: center;
    align-items: center;
}

nav.btmnavbar li {
    margin: 0;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

nav.btmnavbar ul a {
    color: var(--white);
    text-decoration: none;
}

nav.socialmedia ul {
    margin: 0;
    padding: 0.5rem 1rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

nav.socialmedia li {
    margin: 0;
    padding: 0.5rem 1rem;
    text-decoration: none;  
}

nav.socialmedia img {
    height: 150px;
    width: 150px;
}

aside {
    font-size: 40pt;
}

/* --- Our Talent --- */

/* --- Header Image --- */

div.talent-caption {
    background: var(--black) url("../imgs/NewImages/Caption-Images/Talent_03.jpg") no-repeat top right fixed;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

div.talent-caption p {
    font-size: 75pt;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
    margin: 1rem;
}

/* --- Employees --- */


figure.trainee {
    background-color: var(--darkblue);
}

div.col figcaption {
    color: var(--white);
    text-align: center;
    padding: 0;
    font-size: 33pt;
    text-wrap: wrap;
}

/* --- Slideshow --- */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -3rem;
  padding: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  margin-right: -15rem;
  margin-left: -15rem;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--blue)
}

div.numbertext p {
        display: none;
    }

/* --- Course Page --- */

div.courses-caption {
    background: var(--black) url("../imgs/NewImages/Caption-Images/Courses_02.jpg") no-repeat top right fixed;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

div.courses-caption p {
    font-size: 75pt;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
    margin: 1rem;
}

figure.courses {
    background-color: var(--darkblue);
}

figure.courses figcaption {
    padding: 1rem;
}

figure.courses figcaption a {
    color: var(--white);
    list-style: none;
    text-decoration: none;
}

figure.courses figcaption a:hover {
    color: var(--blue);
}

div.col-req {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1920px;
    padding: 1rem;
    margin: 1rem;
}

div.col-req p {
    padding: 0.25rem;
    margin: 0;
    font-size: 30pt;
}

img.require {
    height: 200px;
    width: 200px;
    margin: 1rem;
}

/* --- recruitment --*/

div.recruitment-caption {
    background: var(--black) url("../imgs/NewImages/Caption-Images/Recruitment_02.png") no-repeat top right fixed;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

div.recruitment-caption p {
    font-size: 100pt;
    font-weight: normal;
    text-align: center;
    color: var(--white);
    margin: 1rem;
    padding: 1rem;
}

div.col-req h2 {
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    max-width: 100%;
}

div.col-req li {
    font-size: 2rem;
    text-decoration: none;
    list-style: none;
    text-align: left;
    margin: 1rem 0;
    max-width: 100%;
}

/* --- Apply --- */

div.apply-caption {
    background: var(--black) url("../imgs/NewImages/Caption-Images/Apply_03.jpg") no-repeat top right fixed;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

div.apply-caption p {
    font-size: 100pt;
    font-weight: normal;
    text-align: center;
    color: var(--white);
    margin: 1rem;
    padding: 1rem;
}

div.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    background-color: var(--black);
}

div.form form {
    display: flex;
    flex-direction: column;
    width: 900px;
    gap: 2rem;
    max-width: 900px;
}

form.size input {
    font-family: var(--font);
    color: var(--darkblue);
    font-size: 20pt;
    height: 3rem;
    max-height: 8rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

div.cv {
    background-color: var(--white);
    height: 25rem;
    justify-content: center;
    align-items: center;
}

div.cv h2 {
    color: var(--grey);
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 75pt;
}

input.files {
    background-color: var(--white);
    width: 900px;
    height: 8rem;
    align-items: center;
    justify-content: center;
}

input.send {
    background-color: var(--blue);
    color: var(--white);
}

input.send:hover {
    color: var(--darkblue);
}

/* --- Contact Us --- */

div.contact-caption {
    background: var(--black) url("../imgs/NewImages/Caption-Images/ContactUsNew.jpg") no-repeat top right fixed;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
    
div.contact-caption p {
    font-size: 200pt;
    font-weight: normal;
    text-align: center;
    color: var(--white);
    margin: 1rem;
}

textarea.message {
    font-family: var(--font);
    color: var(--black);
    background-color: var(--white);
    font-size: 30pt;
    text-align: center;
    resize: none;
    padding: 10rem;
    height: 25rem;
}

/* --- Responsive Design --- */

/* -- Desktop --*/

/* 2xl */
@media (max-width: 1536px) {

    div.divider, div.divider img {
        width: 100%;
        max-width: 1436px;
    }

    /* Home Page */
    div.headbar h1 {
        display: flex;
        align-items: center;
        font-size: 30pt;
        font-weight: normal;
     }

     nav.navbar ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        font-size: 15pt ;
     }

     div.overview p,
     div.aboutus p {
        font-size: 20pt;
     }

     div.aboutus h2, div.overview h2 {
        font-size: 100pt;
     }

     div.bottommenu ul {
        font-size: 20pt;
     }

     nav.socialmedia img {
        height: 100px;
        width: 100px;
     }

     aside {
        font-size: 20pt;
     }

     /* Talent */

    figure.trainee img,
    div.col figcaption {
        width: 350px;
        font-size: 23pt;
    }

    .slideshow-container {
        max-width: 750px;
        position: relative;
        margin: auto;
    }

    /* Courses */

    figure.courses img {
        width: 600px;
        text-align: center;
    }

    figure.courses figcaption a {
        display: flex;
        flex-direction: row;
        width: 500px;
        padding-left: 3.5rem;
        padding-right: 0;
        font-size: 21pt;
    }
}

/* xl */
@media (max-width: 1280px) {

        /* Divider */

        div.divider, div.divider img {
            width: 100%;
            max-width: 1200px;
        }

        /* Home Page */
        div.headbar h1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 24pt;
            font-weight: normal;
         }

         div.headbar img {
            width: 200px;
            height: 200px;
            padding: 0;
         }
    
         nav.navbar ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            text-decoration: none;
            font-size: 15pt;
         }

         div.caption {
            height: 600px;
         }

         div.caption p {
            font-size: 40pt;
        }

        div.btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 50pt;
            color: var(--white);
            font-family: var(--font);
            padding: 40px;
        }

        div.btn img {
            justify-content: center;
            height: 50px;
            margin: 1rem 1rem 0 0;
        }

        div.overview p,
        div.aboutus p {
           font-size: 17pt;
        }
   
        div.aboutus h2, div.overview h2 {
           font-size: 75pt;
        }

        /* Talent */

        div.talent-caption {
            height: 600px;
        }

        div.talent-caption p {
            font-size: 40pt;
        }

        figure.trainee img,
        div.col figcaption {
            width: 300px;
            font-size: 21pt;
        }
    
        .slideshow-container {
            max-width: 700px;
            position: relative;
            margin: auto;
        }

        a.prev img {
            height: 75px;
            width: 75px;
            margin-left: 5rem;
        }

        a.next img {
            height: 75px;
            width: 75px;
            margin-right: 5rem;
        }

        div.numbertext img {
            padding: 0;
        }

        /* Courses */

        div.courses-caption {
            height: 600px;
        }

        div.courses-caption p {
            font-size: 60pt;
            font-weight: normal;
            text-align: center;
            color: #FFFFFF;
            margin: 1rem;
        }

        figure.courses img {
            width: 500px;
            text-align: center;
        }
    
        figure.courses figcaption a {
            display: flex;
            flex-direction: row;
            width: 500px;
            padding-left: 1.2rem;
            padding-right: 0;
            font-size: 21pt;
        }

        img.require {
            height: 200px;
            width: 150px;
        }

        /* Recruitment */

        div.recruitment-caption {
            height: 600px;
        }

        div.recruitment-caption p {
            font-size: 60pt;
        }

        div.col-req {
            width: 500px;
        }

        div.col-req h2 {
            font-size: 45pt;
        }

        li.reason {
            font-size: 25pt;
        }

        /* Apply */

        div.apply-caption {
            height: 600px;
        }

        div.apply-caption p {
            font-size: 60pt;
        }

        /* Contact */

        div.contact-caption {
            height: 600px;
        }

        div.contact-caption p {
            font-size: 90pt;
        }
}

/* lg */
@media (max-width: 1024px) {

    /* Divider */
    div.divider, div.divider img {
        width: 100%;
        max-width: 940px;
    }

    /* Home Page */
    div.headbar h1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20pt;
        font-weight: normal;
     }

     div.headbar img {
        width: 150px;
        height: 150px;
        padding: 0;
     }

     nav.navbar ul {
        list-style: none;
        display: flex;  
        flex-direction: row;
        text-decoration: none;
        font-size: 10pt;
     }

     div.caption {
        height: 500px;
     }

     div.caption p {
        font-size: 40pt;
    }

    div.btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 50pt;
        color: var(--white);
        font-family: var(--font);
        padding: 40px;
    }

    div.btn img {
        justify-content: center;
        height: 50px;
        margin: 1rem 1rem 0 0;
    }

    div.overview img {
        width: 600px;
    }

    div.overview p,
    div.aboutus p {
       font-size: 14pt;
       border: none;
    }

    div.aboutus h2, div.overview h2 {
       font-size: 60pt;
    }

    /* Footer */

    div.bottommenu ul {
        font-size: 15pt;
     }

     nav.socialmedia img {
        height: 80px;
        width: 80px;
     }

     aside {
        font-size: 15pt;
     }

    /* Talent */

    div.talent-caption {
        height: 500px;
    }

    div.talent-caption p {
        font-size: 40pt;
    }

    figure.trainee img,
    div.col figcaption {
        width: 200px;
        font-size: 21pt;
    }

    .slideshow-container {
        max-width: 600px;
        position: relative;
        margin: auto;
    }

    a.prev img {
        height: 75px;
        width: 75px;
        margin-left: 7rem;
    }

    a.next img {
        height: 75px;
        width: 75px;
        margin-right: 7rem;
    }

    div.numbertext img {
        padding: 0;
    }

    /* Courses */

    div.courses-caption {
        height: 500px;
    }

    div.courses-caption p {
        font-size: 45pt;
        font-weight: normal;
        text-align: center;
        color: #FFFFFF;
        margin: 1rem;
    }

    figure.courses img {
        width: 370px;
        text-align: center;
    }

    figure.courses figcaption a {
        display: flex;
        flex-direction: row;
        width: 370px;
        padding-left: 0.9rem;
        padding-right: 0;
        font-size: 15pt;
    }

    img.require {
        height: 175px;
        width: 125px;
    }

    div.col-req p {
        font-size: 20pt;
    }

    /* Recruitment */

    div.recruitment-caption {
        height: 400px;
    }

    div.recruitment-caption p {
        font-size: 47pt;
        padding: 0;
    }

    div.col-req {
        width: 450px;
    }

    div.col-req h2 {
        font-size: 35pt;
    }

    li.reason {
        font-size: 18pt;
    }

    /* Apply */

    div.apply-caption {
        height: 400px;
    }

    div.apply-caption p {
        font-size: 50pt;
        padding: 0;
    }

    /* Contact */

    div.contact-caption {
        height: 400px;
    }

    div.contact-caption p {
        font-size: 90pt;
    }
}

/* md */
@media (max-width: 768px) {

        /* Divider */
        div.divider, div.divider img {
            width: 100%;
            max-width: 680px;
        }
    
        /* Home Page */

        div.headbar h1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 15pt;
            font-weight: normal;
         }
    
         div.headbar img {
            width: 100px;
            height: 100px;
            padding: 0;
         }

         div.headbar h1 {
            padding: 0.3rem;
         } 
    
         nav.navbar ul {
            list-style: none;
            display: flex;  
            flex-direction: row;
            text-decoration: none;
            font-size: 7pt;
            padding: 0.5rem 3rem;
         }

         nav.navbar li {
            margin: 0;
            padding: 0.5rem 0.5rem;
            text-decoration: none;
        }
    
         div.caption {
            height: 300px;
         }
    
         div.caption p {
            font-size: 25pt;
            padding: 0;
            margin: 0.5rem;
        }
    
        div.btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 40pt;
            color: var(--white);
            font-family: var(--font);
            padding: 10px;
        }
    
        div.btn img {
            justify-content: center;
            height: 40px;
            margin: 1rem 1rem 0 0;
        }

        div.overview figure, p {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        div.overview img {
            width: 660px;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 2rem;
        }
    
        div.overview p,
        div.aboutus p {
            width: 660px; 
           font-size: 14pt;
           border: none;
           padding: 0 2rem;
           text-align: center;
        }
        
        div.map {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        div.map iframe {
            height: 400px;
            width: 660px;
            padding: 0 2rem;
            border: none;
        }
        

        div.aboutus h2, div.overview h2 {
           font-size: 60pt;
        }
    
        /* Footer */
    
        div.bottommenu ul {
            font-size: 10pt;
         }
    
         nav.socialmedia img {
            height: 50px;
            width: 50px;
            padding: 0;
         }
    
         aside {
            font-size: 10pt;
         }
    
        /* Talent */
    
        div.talent-caption {
            height: 300px;
        }
    
        div.talent-caption p {
            font-size: 25pt;
            padding: 0;
            margin: 0.5rem;
        }
    
        div.row {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        figure.trainee img,
        div.col figcaption {
            width: 400px;
            font-size: 21pt;
        }
    
        .slideshow-container {
            max-width: 500px;
            position: relative;
            margin: auto;
        }

        a.prev img {
            height: 75px;
            width: 75px;
            margin-left: 7rem;
        }
    
        a.next img {
            height: 75px;
            width: 75px;
            margin-right: 7rem;
        }
    
        /* Courses */
    
        div.courses-caption {
            height: 300px;
        }
    
        div.courses-caption p {
            font-size: 30pt;
            font-weight: normal;
            text-align: center;
            color: #FFFFFF;
            margin: 0.5rem;
        }
    
        figure.courses img {
            width: 400px;
            text-align: center;
        }
    
        figure.courses figcaption a {
            display: flex;
            flex-direction: row;
            width: 370px;
            padding-left: 1.5rem;
            padding-right: 0;
            font-size: 15pt;
        }
    
        img.require {
            height: 175px;
            width: 125px;
        }
    
        div.col-req p {
            font-size: 20pt;
        }
    
        /* Recruitment */
    
        div.recruitment-caption {
            height: 300px;
        }
    
        div.recruitment-caption p {
            font-size: 37pt;
            padding: 0;
        }
    
        div.col-req {
            width: 450px;
        }
    
        div.col-req h2 {
            font-size: 35pt;
            padding: 0;
            margin: 0;
        }
    
        li.reason {
            font-size: 18pt;
            text-align: center;
            margin: 0;
            margin-bottom: 15px;
        }
    
        /* Apply */

        div.apply-caption {
            height: 300px;
        }

        div.apply-caption p {
            font-size: 40pt;
            padding: 0;
            margin: 0.5rem;
        }

        div.form {
            width: 50%;
        }

        div.form input {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            margin-left: 10rem;
        }

        form.size {
            max-width: 600px;
            width: 600px;
        }

        div.cv {
            width: 50%;
            margin-left: 10rem;
        }
    
        /* Contact */
    
        div.contact-caption {
            height: 400px;
        }
    
        div.contact-caption p {
            font-size: 90pt;
        }

        textarea.message {   
            width: 50%;
            margin-left: 10rem;
            font-size: 20pt;
            padding: 0.5rem;
        }
}

/* sm */
@media (max-width: 640px) {

    /* Divider */
    div.divider, div.divider img {
        width: 100%;
        max-width: 540px;
    }

    /* Home Page */

    div.headbar h1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 15pt;
        font-weight: normal;
     }

     div.headbar img {
        width: 100px;
        height: 100px;
        padding: 0;
     }

     div.headbar h1 {
        padding: 0.3rem;
     } 

     nav.navbar {
        display: none;
     }
    
    /* Hamburger Icon Appears */

     div.mini-menu { 
        display: flex;
     }

    div.minimised {
        background-color: var(--black);
        border: var(--grey) solid 1px;
        width: 640px;
        max-width: 100%;
        height: 40vh;
        position: fixed;
        top: 0;
        max-width: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        list-style: none;
        font-size: 1rem;
        transition: .3s ease;
    }

    div.minimised ul, li, a {
        text-decoration: none;
        list-style: none;
        color: var(--white);
    }

    div.minimised a:hover {
        color: var(--blue);
    }

    div.minimised.active {
        right: 0;
        display: flex;
    }

    .mini-menu {
        height: 50px;
        width: 50px;
        margin-left: 0;
        position: relative;
        cursor: pointer;
        margin-left: 10rem;
    }

    .mini-menu:hover span {
        background-color: var(--blue);
    }

    .mini-menu span {
        height: 5px;
        width: 100%;
        background-color: var(--white);
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }

    /* Icon Lines Animation */

    .mini-menu span:nth-child(1) {
        top: 25%;
    }

    .mini-menu span:nth-child(3) {
        top: 75%;
    }

    .mini-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .mini-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .mini-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    /* footer */

    div.bottommenu {
        padding: 0;
    }

    div.bottommenu ul li {
        font-size: 10pt;
        padding: 0.4rem;
     }

     nav.socialmedia {
        padding: 0;
     }

     nav.socialmedia img {
        height: 50px;
        width: 50px;
     }

     aside {
        font-size: 10pt;
     }

     /* Talent */

     div.slideshow-container {
        max-width: 400px;
     }

     a.prev, a.next, a.prev img, a.next img {
        width: 3rem;
        height: 3rem;
        max-width: 100%;
        margin: -2rem -5rem;
        padding: 0;
     }

    div.numbertext img {
        padding: 0;
        margin: 0;
    }

    div.numbertext p {
    display: flex;
    flex-direction: column;
    text-align: center;
    }
}

/* xs */
@media (max-width: 475px) {

/* Divider */
div.divider, div.divider img {
    width: 100%;
    max-width: 385px;
}

/* Home Page */

div.headbar h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15pt;
    font-weight: normal;
 }

 div.headbar img {
    width: 100px;
    height: 100px;
    padding: 0;
 }

 div.headbar h1 {
    padding: 0.3rem;
 } 

 nav.navbar {
    display: none;
 }

 div.mini-menu {
    margin-left: 3rem;
 }

div.minimised {
    width: 475px;
    max-width: 100%;
    height: 40vh;
    align-items: flex-start;
}

 div.caption {
    height: 250px;
 }

 div.caption p {
    font-size: 18pt;
    padding: 0;
    margin: 0.25rem;
 }

 div.btn {
    padding: 0;
 }


 div.overview, div.aboutus {
    width: 425px;
    padding: 0;
 }

 div.overview p, div.aboutus p {
    width: 400px;
    font-size: 10pt;
    padding: 0;
    margin-top: 1rem;
 }

 div.overview img, div.aboutus iframe {
    width: 425px;
    height: 325px;
    padding: 0;
    margin: 0;
 }


 /* Footer */

div.bottommenu ul li a {
    font-size: 7pt;
 }

nav.socialmedia img {
    height: 50px;
    width: 50px;
}

aside {
    font-size: 7pt;
}

div.talent-caption {
    height: 250px;
}

div.talent-caption p {
    font-size: 18pt;
    padding: 0;
    margin: 0.25rem;
}

div.slideshow-container {
    max-width: 300px;
 }

 a.prev, a.next, a.prev img, a.next img {
    width: 3rem;
    height: 3rem;
    max-width: 100%;
    margin: -2rem -4rem;
    padding: 0;
 }

div.numbertext img {
    padding: 0;
    margin: 0;
}

div.numbertext p {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

div.recruitment-caption, div.recruitment-caption p {
    height: 250px;
    margin: 0.25rem;
}

div.apply-caption, div.apply-caption p {
    height: 250px;
    margin: 0;
    padding: 0;
    font-size: 25pt;
}

div.form {
    width: 100%;
    max-width: 475px;
    margin: 0 auto; /* Center the form */
}

form.size {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 475px !important;
    width: 100%; /* Use relative width */
    margin-left: 0; /* Remove excessive margin */
}

form.size input {
    width: 100%; /* Make input responsive */
    max-width: 300px;
    margin-left: 0; /* Remove excessive margin */
}

div.cv {
    width: 100%;
    max-width: 300px;
    margin-left: 0; /* Remove excessive margin */
}

input.files {
display: none;
}

textarea.message {
    display: block; /* Ensure it's treated as a block element */
    margin: 0 auto; /* Center horizontally */
    text-align: center; /* Center the text inside the textarea */
    font-family: var(--font);
    color: var(--black);
    background-color: var(--white);
    font-size: 30pt;
    resize: none;
    padding: 1rem; /* Reduce padding */
    height: 25rem;
    width: 14rem; /* Adjust width as needed */
}


}
